/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
}

/* Header holding the image and the text */
.header {
  position: relative;
  text-align: center;
  color: white;
  font-size: 80px;
}

/* Centered text within the header */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 180%);
}

/* Adjust padding for h1 element */
h1 {
  padding-top: 3px;
  font-size: 28px; /* Change font size to 28px */
  font-weight: bold; /* Make the font bold */
}


/* Set background color for body */
body {
  background-color: aquamarine;
  font-family: Calibri, sans-serif; /* Set font to Calibri */
}

/* Define wrapper styles */
.wrapper {
  margin: 0 auto;
  width: 1000px;
  background-color: lightcyan;
  font-family: Calibri, sans-serif; /* Set font to Calibri */
  
  
/* CSS for the first image */
.article-img {
    width: 100%; /* Set width to 100% to fit inside the container */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for the second image */
.passport-img {
    width: 200px; /* Set width to 200px */
    height: 200px; /* Set height to 200px */
}
  
/* Define container styles */
.container {
  margin: 0 auto;
  font-family: Calibri, sans-serif; /* Set font to Calibri */
}

/* Style for the navigation bar */
.topnav {
  background-color: azure;
  overflow: hidden;
  text-align: center; /* Align the text to center */
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly */
  font-family: Calibri, sans-serif; /* Set font to Calibri */
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  text-decoration: none;
  font-size: 17px;
  padding: 0 20px; /* Add padding to the links */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Adjust padding for images and divs */
img {
  float: left;
  padding-left: 10px;
  padding-right: 15px;
}

div {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
}

/* Style for the fieldset */
fieldset {
  margin: 20px auto; /* Center the fieldset */
  width: 97%; /* Set the width */
  border: 2px solid black; /* Set border */
  padding: 20px; /* Add padding */
}

  /* Styling for p */
p,P2{
    font-weight: bold;
    margin-left: 10;/*adjusting margins*/
    padding:10;/*adjusting padding*/
    font-family: Calibri, sans-serif; /* Set font family */
    font-size: 16; /* Set font size */
    line-height: 1.6; /* Set line height */
    margin-bottom: 20px; /* Add bottom margin */
    color: #333; /* Set text color */
}
/* CSS for styling bullet points */
.bullet-points {
    list-style-type: disc; /* Use disc for bullet points */
      margin-left: 20px; /* Add margin to push the text away from the bullet point */

}
